 
 .email-pass-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 81.6vh;
    width: inherit;
    padding: 20px;
    box-sizing: border-box;
 }
 
 .inner-email-pass-cont {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
 }
 
 .inner-email-pass-cont label{
    margin: 10px 0;
    font-size: 30px; 
 }
 
 .inner-email-pass-cont button {
   margin: 10px 0;
   padding: 20px;
   transition: 0.5s ease-out;
   border-radius: 10px;
   width: 80px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #bb00ff;
   color: white;
   border: none;
   cursor: pointer;
   font-size: large;
   font-weight: bold;
   
 }
 
 .inner-email-pass-cont button:hover {
 
    background-size: 50px 50px; /* Adjust the size as needed */
    
    background-color: #540072;
   
 }
 
 .inner-email-pass-cont input{
    padding: 15px;
    width: 100%;
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
 }
 
